sitename: International Criminal Justice Consortium
url: http://www.icj-consortium.org
source: src
# Dependencies
markdown: kramdown
include: ['_pages']
# relative_permalinks: false # won't need this as of 2.0: Deprecation: Starting in 2.0, permalinks for pages in subfolders must be relative to the site source directory, not the parent directory. Also will change exclude directory
exclude: ['readme.md','license.md','Gemfile','links.jsonp', 'CNAME']

permalinks: pretty
production: false
use_jquery_cdn: false
include_addthis_sharing: true
bust_css_cache: true

# options (data)
google_analytics_id:
disqus_id:
addthis_id: "ra-53c565a74f2c5c5b"
# CONTACT FORM http://getsimpleform.com/
# simple_form_api_token:
sass:
  style: :compressed
  sass_dir: assets/css/_sass

defaults:
  -
   scope:
    path: ''
    type: page
   values:
    layout: page
