<aside class="sidebar-left">
  <img src="/assets/img/icjc-logo-140729b-wr.png" style="margin-bottom:2em;max-width:50%;opacity:0.9999;box-shadow:0 30px 50px rgba(0, 0, 0, 0.3);">


<nav>
	<ul class="sidebar-nav">
		<li class="sidebar-nav-item">
			<a href="/">Home</a>
		</li>
		 
		<li class="sidebar-nav-item{% if page.url contains '/member-organizations/' %} active{% endif %}">
			<a href="/member-organizations/">Member Organisations</a>
		</li>
		<li class="sidebar-nav-item{% if page.url contains '/proven-practices/' %} active{% endif %}">
			<a href="/proven-practices/">Proven Practices</a>
		</li>
		<li class="sidebar-nav-item{% if page.url contains 'about' %} active{% endif %}">
			<a href="/news/">News & Events</a>
		</li>
		

	</ul>
</nav>

</aside>

