<header>
  {% if page.title %}
    <h1 class="entry-title">{{page.title}}</h1>
  {% endif %}
  {% if page.subtitle %}
    <h2>{{page.subtitle}}</h2>
  {% endif %}
  {% if page.dateTK %}
    <time class='date' datetime="{{ page.date | date:'%Y-%m-%d' }}">
      <small>{{ page.date | date:'%A %b %d, %Y' }}</small>
    </time>
  {% endif %}
</header>
<div class="entry-content prose"><!--  //CONTENT -->
  {{ content }}
  {% if site.include_addthis_sharing %}
    <div class="sharing">
      {% include articles/sharing.html %}
    </div>
  {% endif %}
  
  {% if section == 'article' and page.comments != false %}
    {% include articles/comments.html %}
  {% endif %}
</div>

<!-- include global/edit.html -->
